<table>
  <tr class="first-tr">
    <td colspan="3">든든한동</td>
  </tr>
  <tr class="second-tr">
    <td>아침</td>
    <td>점심</td>
    <td>저녁</td>
  </tr>
  <tr class="tr-menu">
    <td>-운영없음-</td>
    <td>
      잔치국수<br />
      추가밥<br />
      찐만두<br />
      요구르트<br />
      맛김치
    </td>
    <td>
      쌀밥<br />
      미역국<br />
      닭살간장볶음<br />
      데친두부<br />
      열무나물<br />
      깍두기
    </td>
  </tr>
</table>

<table>
  <tr class="first-tr">
    <td>따스한동</td>
    <td>FryFry</td>
    <td>라운지</td>
    <td>맘스키친</td>
    <td>그레이스테이블</td>
  </tr>
  <tr class="tr-menu">
    <td>
      돼지국밥<br />
      양념돈까스
    </td>
    <td>운영없음</td>
    <td>운영없음</td>
    <td>운영없음</td>
    <td>운영없음</td>
  </tr>
</table>
