<table>
  <tr class="first-tr">
    <td colspan="3">든든한동</td>
  </tr>
  <tr class="second-tr">
    <td>아침</td>
    <td>점심</td>
    <td>저녁</td>
  </tr>
  <tr class="tr-menu">
    <td>{{ food["koreantable"]["breakfast"] }}</td>
    <td>{{ food["koreantable"]["lunch"] }}</td>
    <td>{{ food["koreantable"]["dinner"] }}</td>
  </tr>
</table>

<table>
  <tr class="first-tr">
    <td>따스한동</td>
    <td>FryFry</td>
    <td>라운지</td>
    <td>맘스키친</td>
    <td>그레이스테이블</td>
  </tr>
  <tr class="tr-menu">
    <td>{{ food["mixedrice"] }}</td>
    <td>{{ food["fryfry"] }}</td>
    <td>{{ food["lounge"] }}</td>
    <td>{{ food["momskitchen"] }}</td>
    <td>{{ food["gracetable"] }}</td>
  </tr>
</table>
