<div class="anon-desc">※ 조회수가 가장 높은 게시물 5개입니다.</div>
<div class="feat-list">
  {% for item in anon_hot %}
  <div class="feat-item">
    <a href="{{ item.link }}" class="feat-text-title" rel="noopener noreferrer">{{ item.title }}</a>
    {{" ".join(item.content.replace("<br />", " ").split(" ")[:65])}}
  </div>
  {% endfor %}
</div>
<div class="rest-list">
  {% if anon_rest | length != 0 %}
  <h3>나머지</h3>
  <ul>
    {% for item in anon_rest %}
    <li>
      <a href="{{ item.link }}"  rel="noopener noreferrer">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
