<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <style>
      body {
        margin: 1em;
      }

      .email-container {
        max-width: 800px;
        background-color: white;
        margin: auto;
        padding: 1em;
      }

      .heading * {
        margin: 0;
        line-height: 1.5em;
      }

      .heading {
        text-align: center;
        margin-bottom: 1em;
      }

      #subtitle {
        font-size: 1em;
        color: #666;
      }

      .sec-header {
        font-weight: bold;
        background-color: #bebebe;
        padding: 0.5em;
        margin-bottom: 0.5em;
        margin-top: 1em;
        font-size: 1.2em;
      }

      .food-menu table {
        width: 100%;
        margin: 0;
        margin-bottom: 0.5em;
        border-collapse: collapse;
        table-layout: fixed;

        text-align: center;
      }

      .food-menu table tr.first-tr {
        background-color: #ccc;
      }

      .food-menu table tr.first-tr td {
        padding: 0.3em;
        font-weight: bold;
      }

      .second-tr {
        background-color: #efefef;
        font-weight: bold;
      }

      .food-menu table td {
        border: 1px solid #666;
      }

      .food-menu .tr-menu td {
        padding: 0.5em;
      }

      .anon-desc {
        font-size: 0.8em;
        color: #333;
      }

      .feat-item {
        margin-top: 1em;
        margin-bottom: 1em;
        line-height: 1.6em;
        word-break: keep-all;
        word-wrap: break-word;
      }

      .feat-text-title {
        font-weight: bold;
        color: #2853aa;
        font-size: 1.1em;
        letter-spacing: 1.1px;
      }
    </style>
  </head>
  <body>
    <div class="email-container">
      <!-- 제목 -->
      <div class="heading">
        <h1 id="title">한동 뉴스레터</h1>
        <h2 id="subtitle">2022.06.24 (13주차 화요일)</h2>
      </div>

      <!-- 식단 -->
      <div class="food-menu">
        <div class="sec-header">오늘의 식단</div>
        {%include "template/food-menu.jinja" %}
      </div>

      {% if anon_hot | length != 0 %}
      <div class="hisnet-anon">
        <div class="sec-header">전일 히즈넷 공지사항</div>
        {%include "template/hisnet-anon.jinja" %}
      </div>
      {% endif %}
    </div>
  </body>
</html>
