<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <style>
      body {
        margin: 1em;
      }

      .email-container {
        max-width: 800px;
        background-color: white;
        margin: auto;
        padding: 1em;
      }

      .email-container a {
        color: #2853aa;
      }

      .heading * {
        margin: 0;
        line-height: 1.5em;
      }

      .heading {
        text-align: center;
        margin-bottom: 1em;
      }

      #subtitle {
        font-size: 1em;
        color: #666;
      }

      .sec-header {
        font-weight: bold;
        background-color: #bebebe;
        padding: 0.5em;
        margin-bottom: 0.5em;
        margin-top: 1em;
        font-size: 1.2em;
      }

      .food-menu table {
        width: 100%;
        margin: 0;
        margin-bottom: 0.5em;
        border-collapse: collapse;
        table-layout: fixed;

        text-align: center;
      }

      .food-menu table tr.first-tr {
        background-color: #ccc;
      }

      .food-menu table tr.first-tr td {
        padding: 0.3em;
        font-weight: bold;
      }

      .second-tr {
        background-color: #efefef;
        font-weight: bold;
      }

      .food-menu table td {
        border: 1px solid #666;
      }

      .food-menu .tr-menu td {
        padding: 0.5em;
      }

      .anon-desc {
        font-size: 0.8em;
        color: #333;
      }

      .feat-item {
        margin-top: 1em;
        margin-bottom: 1em;
        line-height: 1.6em;
        word-break: keep-all;
        word-wrap: break-word;
      }

      .feat-text-title {
        font-weight: bold;
        font-size: 1.1em;
        letter-spacing: 1.1px;
      }

      .rest-list h3 {
        margin-bottom: 0.3em;
      }

      .rest-list ul {
        line-height: 1.6em;
        list-style-type: circle;
        margin-top: 0;
      }

      .footer {
        font-size: 0.8em;
        text-align: center;
        color: #333;
      }

      .footer hr {
        margin-top: 1em;
        margin-bottom: 1em;
        border: none;
        height: 0.6px;
        background-color: #333;
      }
    </style>
  </head>
  <body>
    <div class="email-container">
      <!-- 제목 -->
      <div class="heading">
        <h1 id="title">{{date[0]}} 한동 뉴스레터</h1> 
        <h2 id="subtitle">{{date[1]}}</h2>
      </div>

      <!-- 식단 -->
      <div class="food-menu">
        <div class="sec-header">오늘의 식단</div>
        {%include "template/food-menu.jinja" %}
      </div>

      {% if anon_hot | length != 0 %}
      <div class="hisnet-anon">
        <div class="sec-header">전일 히즈넷 공지사항</div>
        {%include "template/hisnet-anon.jinja" %}
      </div>
      {% endif %}

      <div class="footer">
        <hr />
        <b>한동 뉴스레터</b>
        <p>
          본 이메일은 한동대학교와 아무런 연관이 없으며<br />
          한동대학교 재학생이 직접 제작하여 관리하는 프로젝트입니다.
        </p>
        <div class="unsubscribe">
          <a href="https://handong-newsletter.web.app"
           rel="noopener noreferrer"
            >[ 구독 취소 ]</a
          >
          &nbsp;&nbsp;
          <a
            href="https://handong-newsletter.web.app/form"
            rel="noopener noreferrer"
            target="_blank"
          >
            [ 구글폼(피드백/문의) ]
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
