body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .title {
  text-align: center;
  color: #cdbe78;
}

.g-btn {
  margin: auto;
}

.small {
  padding-top: 0.5em;
  font-size: 0.8em;
  text-align: center;
}

.small a {
  color: skyblue;
}

.suffix {
  color: lightgrey;
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 0.7em;
}

.suffix a {
  color: skyblue;
  text-decoration: none;
}

.suffix div {
  margin: 1em;
}
