.MainSub {
  text-align: center;
}

.MainSub a {
  cursor: pointer;
}

.MainSub .btn {
  background-color: #f2f2f2;
  padding: 1em;
  text-align: center;
  margin-top: 1.5em;
  color: black;
  /* cursor: pointer; */
  user-select: none;
}

.MainSub .sub-btn {
  cursor: not-allowed;
}

.MainSub .subList {
  user-select: none;
}

.MainSub .activate {
  cursor: pointer;
  background-color: #066163;
  color: white;
}

.MainSub .activate.sub-btn:active {
  background-color: #075556;
}

.MainSub .error-msg {
  color: #ff9b9b;
  font-weight: bold;
}
